.product-list-wrap{
    display: flex;
}
.product-item-wrap{
    width: calc((100% - 1px)/6);
    padding: 0 8px;
    box-sizing: border-box;
    margin-bottom: 12px;

}
.product-item{
    width: 100%;
    padding: 8px 8px 12px;
    background: #FFF;
    color: rgb(0 0 0 /85%);
}
.home-wrap{
    background: #F5F5F5;
}